# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [ ]:
# Load data
df = pd.read_csv("data/AviationData.csv", encoding="cp1252", low_memory=False)

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [ ]:
# NaN Counts
df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38757
Airport.Name              36185
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1382
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7096
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6384
Publication.Date          13771
dtype: int64

In [16]:
# Data Types
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  str
 1   Investigation.Type      88889 non-null  str
 2   Accident.Number         88889 non-null  str
 3   Event.Date              88889 non-null  str
 4   Location                88837 non-null  str
 5   Country                 88663 non-null  str
 6   Latitude                34382 non-null  str
 7   Longitude               34373 non-null  str
 8   Airport.Code            50132 non-null  str
 9   Airport.Name            52704 non-null  str
 10  Injury.Severity         87889 non-null  str
 11  Aircraft.damage         85695 non-null  str
 12  Aircraft.Category       32287 non-null  str
 13  Registration.Number     87507 non-null  str
 14  Make                    88826 non-null  str
 15  Model                   88797 non-null  str
 16  Amateur.Built           88787 non-null  str
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  str
 19  FAR.Description         32023 non-null  str
 20  Schedule                12582 non-null  str
 21  Purpose.of.flight       82697 non-null  str
 22  Air.carrier             16648 non-null  str
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  str
 28  Broad.phase.of.flight   61724 non-null  str
 29  Report.Status           82505 non-null  str
 30  Publication.Date        75118 non-null  str
dtypes: float64(5), str(26)
memory usage: 21.0 MB

In [18]:
# Summary Statistics
display(df.describe(include="all").T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Event.Id,88889,87951,20001214X45071,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Investigation.Type,88889,2,Accident,85015,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Accident.Number,88889,88863,ERA22LA103,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Event.Date,88889,14782,1982-05-16,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location,88837,27758,"ANCHORAGE, AK",434,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,88663,219,United States,82248,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,34382,25589,332739N,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Longitude,34373,27154,0112457W,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Airport.Code,50132,10374,NONE,1488,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Airport.Name,52704,24870,Private,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Injury.Severity,87889,109,Non-Fatal,67357,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aircraft.damage,85695,4,Substantial,64148,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aircraft.Category,32287,15,Airplane,27617,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Registration.Number,87507,79104,NONE,344,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Make,88826,8237,Cessna,22227,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Model,88797,12318,152,2367,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Amateur.Built,88787,2,No,80312,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Number.of.Engines,82805.0,NaN,NaN,NaN,1.146585,0.44651,0.0,1.0,1.0,1.0,8.0
Engine.Type,81793,12,Reciprocating,69530,NaN,NaN,NaN,NaN,NaN,NaN,NaN
FAR.Description,32023,31,091,18221,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Schedule,12582,3,NSCH,4474,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purpose.of.flight,82697,26,Personal,49448,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Air.carrier,16648,13590,Pilot,258,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total.Fatal.Injuries,77488.0,NaN,NaN,NaN,0.647855,5.48596,0.0,0.0,0.0,0.0,349.0
Total.Serious.Injuries,76379.0,NaN,NaN,NaN,0.279881,1.544084,0.0,0.0,0.0,0.0,161.0
Total.Minor.Injuries,76956.0,NaN,NaN,NaN,0.357061,2.235625,0.0,0.0,0.0,0.0,380.0
Total.Uninjured,82977.0,NaN,NaN,NaN,5.32544,27.913634,0.0,0.0,1.0,2.0,699.0
Weather.Condition,84397,4,VMC,77303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Broad.phase.of.flight,61724,12,Landing,15428,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Report.Status,82505,17074,Probable Cause,61754,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Publication.Date,75118,2924,25-09-2020,17019,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [22]:
# Copy dataframe
df2 = df.copy()

# Type cleanup
df2["Event.Date"] = pd.to_datetime(df2["Event.Date"], errors="coerce")
text_cols = ["Investigation.Type", "Aircraft.Category", "Amateur.Built", "Make", "Model"]
for c in text_cols:
    df2[c] = df2[c].astype("string").str.strip()

# Title standardization
df2["Investigation.Type"] = df2["Investigation.Type"].str.title()
df2["Aircraft.Category"] = df2["Aircraft.Category"].str.title()
df2["Amateur.Built"] = df2["Amateur.Built"].str.title()

# Inspect relevant columns
cols_to_check = ["Event.Date", "Investigation.Type", "Aircraft.Category", "Amateur.Built", "Make", "Model"]
display(df2[cols_to_check].isna().mean().sort_values(ascending=False).to_frame("missing_pct"))
for c in ["Investigation.Type", "Aircraft.Category", "Amateur.Built"]:
    display(df2[c].value_counts(dropna=False).head(15))
    
# Filtering (1983+, professional build, true accidents)
mask = (
    (df2["Event.Date"].dt.year >= 1983)
    & (df2["Amateur.Built"] == "No")
    & (df2["Investigation.Type"] == "Accident")
    & (df2["Aircraft.Category"] == "Airplane")
)
df_filtered = df2.loc[mask].copy()

print("Original shape:", df.shape)
print("Filtered shape:", df_filtered.shape)

df_filtered

                    missing_pct
Aircraft.Category      0.636772
Amateur.Built          0.001147
Model                  0.001035
Make                   0.000709
Investigation.Type     0.000000
Event.Date             0.000000

Investigation.Type
Accident    85015
Incident     3874
Name: count, dtype: Int64

Aircraft.Category
<NA>                 56602
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
Wsft                     9
Powered-Lift             5
Blimp                    4
Unk                      2
Rocket                   1
Name: count, dtype: Int64

Amateur.Built
No      80312
Yes      8475
<NA>      102
Name: count, dtype: Int64

Original shape: (88889, 31)
Filtered shape: (19937, 31)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
4171,20001214X42331,Accident,ATL83FA140,1983-03-20,"CROSSVILLE, TN",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,1.0,NaN,NaN,IMC,Cruise,Probable Cause,02-05-2011
4285,20001214X42672,Accident,FTW83LA177,1983-04-02,"MCKINNEY, TX",United States,NaN,NaN,TX05,AERO COUNTRY,...,Skydiving,NaN,1.0,NaN,NaN,4.0,VMC,Standing,Probable Cause,17-10-2016
5960,20001214X44100,Accident,DCA83AA036,1983-08-21,"SILVANA, WA",United States,NaN,NaN,S88,NaN,...,Skydiving,NaN,11.0,2.0,NaN,13.0,VMC,Other,Probable Cause,17-10-2016
6669,20001214X44944,Accident,NYC84LA015,1983-10-28,"MIDDLETOWN, PA",United States,NaN,NaN,NaN,NaN,...,Unknown,NaN,1.0,NaN,NaN,29.0,VMC,Climb,Probable Cause,09-12-2011
6806,20001214X45188,Accident,NYC84LA028,1983-11-13,"MARTHA'S VINEYARD, MA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,Climb,Probable Cause,05-05-2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88869,20221213106455,Accident,WPR23LA065,2022-12-13,"Lewistown, MT",United States,047257N,0109280W,KLWT,Lewiston Municipal Airport,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,14-12-2022
88873,20221215106463,Accident,ERA23LA090,2022-12-14,"San Juan, PR",United States,182724N,0066554W,SIG,FERNANDO LUIS RIBAS DOMINICCI,...,Personal,SKY WEST AVIATION INC TRUSTEE,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88876,20221219106475,Accident,WPR23LA069,2022-12-15,"Wichita, KS",United States,373829N,0972635W,ICT,WICHITA DWIGHT D EISENHOWER NT,...,NaN,NaN,0.0,0.0,0.0,1.0,NaN,NaN,NaN,19-12-2022
88877,20221219106470,Accident,ERA23LA091,2022-12-16,"Brooksville, FL",United States,282825N,0822719W,BKV,BROOKSVILLE-TAMPA BAY RGNL,...,Personal,GERBER RICHARD E,0.0,1.0,0.0,0.0,VMC,NaN,NaN,23-12-2022
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [ ]:
# Construct metric for fatal/serious injuries
injury_cols = [
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured"
]

# Ensure numeric
for col in injury_cols:
    df_filtered[col] = pd.to_numeric(df_filtered[col], errors="coerce")
    
# Imputation assumption:
# Missing injury counts are treated as 0 for row-wise totals
df_filtered[injury_cols] = df_filtered[injury_cols].fillna(0)

# Estimated total occupants on board
df_filtered["Estimated.Total.Occupants"] = df_filtered[injury_cols].sum(axis=1)

# Fatal + serious count
df_filtered["Fatal.Serious.Count"] = (
    df_filtered["Total.Fatal.Injuries"] + df_filtered["Total.Serious.Injuries"]
)

# Rate of fatal/serious injuries among occupants
df_filtered["Fatal.Serious.Rate"] = (
    df_filtered["Fatal.Serious.Count"] / df_filtered["Estimated.Total.Occupants"]
)

# Avoid divide-by-zero artifacts
df_filtered.loc[df_filtered["Estimated.Total.Occupants"] == 0, "Fatal.Serious.Rate"] = np.nan

# Quick inspection
display(
    df_filtered[
        ["Estimated.Total.Occupants", "Fatal.Serious.Count", "Fatal.Serious.Rate"]
    ].describe()
)

       Estimated.Total.Occupants  Fatal.Serious.Count  Fatal.Serious.Rate
count               19937.000000         19937.000000        19674.000000
mean                    6.105683             0.983498            0.296024
std                    28.491958             7.030694            0.436755
min                     0.000000             0.000000            0.000000
25%                     1.000000             0.000000            0.000000
50%                     2.000000             0.000000            0.000000
75%                     2.000000             1.000000            1.000000
max                   576.000000           295.000000            1.000000

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [24]:
# Clean Aircraft.damage and create destruction indicator
df_filtered["Aircraft.damage"] = (
    df_filtered["Aircraft.damage"]
    .astype("string")
    .str.strip()
    .str.title()
)

# Handle missing/blank values
df_filtered["Aircraft.damage"] = df_filtered["Aircraft.damage"].replace({"": pd.NA}).fillna("Unknown")

# Derived binary column: 1 if destroyed, else 0
df_filtered["Was.Destroyed"] = (df_filtered["Aircraft.damage"] == "Destroyed").astype("int8")

# Quick checks
display(df_filtered["Aircraft.damage"].value_counts(dropna=False))
display(df_filtered["Was.Destroyed"].value_counts())
print("Destruction rate:", df_filtered["Was.Destroyed"].mean().round(4))

Aircraft.damage
Substantial    16965
Destroyed       2316
Unknown          509
Minor            147
Name: count, dtype: Int64

Was.Destroyed
0    17621
1     2316
Name: count, dtype: int64

Destruction rate: 0.1162

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [ ]:
# Clean
df_filtered["Make.Clean"] = (
    df_filtered["Make"]
    .astype("string")
    .str.strip()
    .str.upper()
    .str.replace(r"\s+", " ", regex=True)
)
df_filtered = df_filtered[df_filtered["Make.Clean"].notna()].copy()

# Keep only makes with a reasonable sample size (>= 50)
make_counts = df_filtered["Make.Clean"].value_counts()
df_filtered = df_filtered[df_filtered["Make.Clean"].map(make_counts) >= 50].copy()

# Check results
print("Rows after Make filtering:", len(df_filtered))
print("Unique makes kept:", df_filtered["Make.Clean"].nunique())
display(df_filtered["Make.Clean"].value_counts().head(20))

Rows after Make filtering: 16550
Unique makes kept: 34

Make.Clean
CESSNA                7029
PIPER                 3938
BEECH                 1392
BOEING                 553
MOONEY                 358
BELLANCA               217
AIR TRACTOR INC        217
MAULE                  215
CIRRUS DESIGN CORP     209
AIR TRACTOR            206
AERONCA                200
CHAMPION               157
GRUMMAN                146
LUSCOMBE               141
CIRRUS                 130
STINSON                129
NORTH AMERICAN         104
EMBRAER                 98
TAYLORCRAFT             93
DEHAVILLAND             93
Name: count, dtype: Int64

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [27]:
# Clean
df_filtered["Model.Clean"] = (
    df_filtered["Model"]
    .astype("string")
    .str.strip()
    .str.upper()
    .str.replace(r"\s+", " ", regex=True)
)

# Remove missing models
df_filtered = df_filtered[df_filtered["Model.Clean"].notna()].copy()

# Inspect model counts
display(df_filtered["Model.Clean"].value_counts().head(20))

# Check whether model labels are unique to a make
model_to_make_counts = (
    df_filtered.groupby("Model.Clean")["Make.Clean"].nunique().sort_values(ascending=False)
)
ambiguous_models = model_to_make_counts[model_to_make_counts > 1]
print("Models tied to >1 make:", len(ambiguous_models))
display(ambiguous_models.head(20))

# Create unique plane identifier
df_filtered["Plane.Type"] = df_filtered["Make.Clean"] + " | " + df_filtered["Model.Clean"]

# Quick check
display(df_filtered["Plane.Type"].value_counts().head(20))

Model.Clean
172          763
152          311
182          300
172S         272
PA28         268
172N         249
SR22         228
180          212
A36          181
172M         179
150          177
PA-18-150    175
PA-28-140    169
172P         141
737          118
140          117
172R         108
170B         107
PA-28-180    105
PA-28-161    101
Name: count, dtype: Int64

Models tied to >1 make: 95

Model.Clean
7GCBC                3
7GCAA                3
7AC                  3
8GCBC                3
8KCAB                3
7ECA                 3
S2R                  3
7EC                  3
402B                 2
7GCB                 2
402A                 2
C90A                 2
401B                 2
112A                 2
7KCAB                2
BEAVER DHC-2 MK.1    2
400A                 2
7BCM                 2
400                  2
7ACA                 2
Name: Make.Clean, dtype: int64

Plane.Type
CESSNA | 172                 763
CESSNA | 152                 311
CESSNA | 182                 300
CESSNA | 172S                272
PIPER | PA28                 268
CESSNA | 172N                249
CESSNA | 180                 212
CESSNA | 172M                179
CESSNA | 150                 177
PIPER | PA-18-150            175
PIPER | PA-28-140            169
BEECH | A36                  164
CESSNA | 172P                141
CIRRUS DESIGN CORP | SR22    137
BOEING | 737                 118
CESSNA | 140                 116
CESSNA | 172R                108
CESSNA | 170B                107
PIPER | PA-28-180            105
PIPER | PA-28-161            101
Name: count, dtype: Int64

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized